@font-face {
    src: url('./fonts/467.ttf');
    font-family: cosmo;
}


body {
    padding: 0;
    margin: 0;
    background-image: url('./images/space-background.png');  
    width: 100%;
    height: fit-content;
}

main {
    height: 2775px;
    width: 1200px;
    margin: auto;
    font-family: cosmo;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 86px;
}

.score-bar {
    background-color: rebeccapurple;
    width: 600px;
    height: 400px;
    margin: auto;
    color: white;
    display: flex;
    font-family: Arial;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 150px;
    position: relative;
    bottom: 753px; 
}

.dead-indicator {
    font-size: 45px;
    margin-top: -6px;
}

.score-indicator {
    font-size: 31px;
    margin-top: -29px;
}

.menu-button {
    margin-top: -30px;
    width: 183px;
    height: 48px;
    border-radius: 23px;
    background-color: steelblue;
    color: white;
    border: 0px;
    font-size: 18px;
}

.menu-button:hover {
    background-color: rgb(78, 78, 214);
    cursor: pointer;
}

.play-menu {
    width: 600px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-name {
    color: white;
    font-size: 52px;
}

.play-button {
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
     0 1px rgba(255,255,255,.2) inset,
     0 3px 5px rgba(0,1,6,.5),
     0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    width: 240px;
    height: 72px;
    font-size: 30px;
    font-family: cosmo;
    margin-top: 12px;
}

.play-button:hover {
    background-color: rgb(65, 63, 63);
    cursor: pointer;
}

.controls-container {
    width: 900px;
    display: flex;
    height: 335px;
    margin-top: 58px;
    flex-direction: column;
}

.controls-arrows {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrows-img {
    width: 283px;
    height: 191px;
}

.container {
    display: flex;
}

.contorls-name {
    color: white;
    margin: auto;
    font-size: 50px;
    margin-bottom: 36px;
}

.arrows-info {
    color: white;
    font-family: arial;
    font-size: 19px;
}

.controls-spacebar {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 177px;
}

.spacebar-img {
    width: 283px;
    height: 191px;
}

.spacebar-info {
    color: white;
    font-family: arial;
    font-size: 19px;
}

.about-container {
    width: 1000px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.about-name {
    font-size: 53px;
    color: white;
    width: fit-content;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 15px;
}

.screenshots-container {
    height: fit-content;
}

.first-screenshot {
    width: 1000px;
}

.second-screenshot {
    width: 1000px;
    margin-top: 20px;
}

.about-info {
    color: white;
    font-family: arial;
    font-size: 24px;
    width: 762px;
    margin: auto;
    margin-top: 16px;
}

.warning-info {
    color: red;
    margin: auto;
    font-size: 33px;
    font-family: -webkit-pictograph;
    margin-top: 7px;
}

.dev-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.dev-heading {
    color: white;
    font-size: 51px;
    width: fit-content;
    margin: auto;
}

.dev-img {
    width: 500px;
    height: 400px;
    border-radius: 250px;
    margin-top: 40px;
    margin: auto;
}

.dev-name {
    width: fit-content;
    margin: auto;
    font-size: 35px;
    font-family: fantasy;
    color: wheat;
}

.dev-info {
    color: white;
    font-family: Arial;
    font-size: 23px;
    width: 501px;
}

.choosed-game-mode {
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 21px;
    box-shadow: 0 1px rgba(255,255,255,.2) inset, 0 3px 5px rgba(0,1,6,.5), 0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    width: 156px;
    height: 70px;
    font-size: 22px;
    font-family: cosmo;
}

.choosed-game-mode-container {
    margin-top: 32px;
    width: 915px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 90px;
}

.easy-game-mode {
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 21px;
    background-color: rgb(166, 255, 0);
    box-shadow: 0 1px rgba(255,255,255,.2) inset, 0 3px 5px rgba(0,1,6,.5), 0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    width: 125px;
    height: 70px;
    font-size: 22px;
    font-family: cosmo;
}

.easy-game-mode:hover {
    cursor: pointer;
    background-color: rgb(151, 190, 72);
}

.medium-game-mode {
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 21px;
    background-color: #eeff00;
    box-shadow: 0 1px rgba(255,255,255,.2) inset, 0 3px 5px rgba(0,1,6,.5), 0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    width: 155px;
    height: 70px;
    font-size: 22px;
    font-family: cosmo;
}

.medium-game-mode:hover {
    cursor: pointer;
    background-color: rgb(177, 185, 52);
}

.hard-game-mode {
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 21px;
    background-color: #ffa500;
    box-shadow: 0 1px rgba(255,255,255,.2) inset, 0 3px 5px rgba(0,1,6,.5), 0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    width: 125px;
    height: 70px;
    font-size: 22px;
    font-family: cosmo;
}

.hard-game-mode:hover {
    cursor: pointer;
    background-color: rgb(150, 115, 55);
}

.rage-game-mode{
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 21px;
    background-color: #ff0000;
    box-shadow: 0 1px rgba(255,255,255,.2) inset, 0 3px 5px rgba(0,1,6,.5), 0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    width: 134px;
    height: 70px;
    font-size: 22px;
    font-family: cosmo;
}

.rage-game-mode:hover {
    cursor: pointer;
    background-color: rgb(143, 46, 46);
}

.game-mode-text {
    color: white;
}

.score-shower {
    color: white;
    position: absolute;
    left: 120px;
}

